/* ----------Start FOOTER---------- */
.page-footer {
  &__container {
    display: flex;
    max-width: 1338px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22px;
    padding-bottom: 77px;
    border-top: 1px solid #8f95a5;

    align-items: center;
  }
  &__list {
    display: flex;
    margin-left: auto;
  }
  &__item {
    font-size: 24px;
    line-height: 1.5;

    color: var(--main-text-color);
  }
  &__item:not(:last-child) {
    margin-right: 80px;
  }
}

.logo {
  font-size: 36px;
  line-height: 1.5;
  color: var(--prime-title-color);
  &__accent {
    color: #939393;
  }
}
/* ----------End FOOTER---------- */
