.hero-title {
    font-weight: 600;
    font-style: 64px;
    line-height: 1.25;
    color: #000000;
}
.hero-text {
    font-weight: 400;
    font-style: 24px;
    line-height: 1.5;
    color: #8F95A5;

}
.hero-butt {
    background-color: #263238;
    font-weight: 400;
    font-style: normal;
    font-style: 36px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

