<!-- contacts -->
<section class="section-contact">
<svg class="exelents-list-icons__item" width="360" height="360">
    <use href="../images/symbol-defs.svg#contact-us"></use>
</svg>

<h2 class="section-contacts__title">Contact Us</h2>
<p class="contacts__text">Discover your current English level by taking our free online English test. Sign up to our newsletter for learning tips
and free resources</p>
<form class="section-contacts__form">
<input 
type="email"
placeholder="Enter Your E-mail"
name="user-email" />
<button type="submit">Subscribe</button>
</form>
