<!-- contacts -->
<section class="section contact">
    <div class="container contacts">
        <h2 class="section-contacts__title small">Contact Us</h2>
       
    <svg class="contact-svg" width="425" height="430">
        <use href="./images/symbol-defs.svg#icon-contact-us"></use>
    </svg>
<div class="contact-main">
    <h2 class="section-contacts__title big">Contact Us</h2>
    <p class="contact-main__text">Discover your current English level by taking our free online English test. Sign up to our newsletter for learning tips
    and free resources</p>
    
    <form class="contact-main__form">
        <div class="form-container">
            <input 
            type="email"
            placeholder="Enter Your E-mail"
            name="user-email" />
            <button class="contact-main__button" type="submit">Subscribe</button>
        </div>
    
    </form>
</div>
</div>
</section>


