<header class="page-header">
  <div class="page-header__container">
    <a href="" class="logo">Brit<span class="logo__accent">lex</span></a>
    <nav class="page-header__nav">
      <ul class="page-header__list">
        <li class="page-header__item">
          <a class="page-header__link link" href="">Home</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link link" href="">Skills</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link link" href="">About us</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link link" href="">Pricing</a>
        </li>
        <li class="page-header__item">
          <a class="page-header__link link" href="">Aboutub</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="page-header__button button">Let’s Talk</button>
  </div>
</header>
