<section class="pricing">
        <div class="container">
        <h2 class="pricing-title">Pricing</h2>
        <ul class="pricing-list">
          <li class="pricing-item">
            <svg class="pricing-svg">
              <use href="./images/symbol-defs.svg#icon-pricing-one"></use>
            </svg>
            <h3 class="pricing-item-title">Self-study online course</h3>
            <p class="pricing-item-text">Start learning English online in live classes
              with qualified EC teachers and students 
              from all over the world.</p>
            <a href="" class="prising-item-link"><span class="pricing-span"> £5.99</span> per month</a>
          </li>
          <li class="pricing-item">
            <svg >
              <use href="./images/symbol-defs.svg#icon-pricing-two"></use>
            </svg>
            <h3 class="pricing-item-title">Live online classes</h3>
            <p class="pricing-item-text">Interactive group classes with expert
              teachers. Free 7-day trial</p>
            <a href="" class="prising-item-link"><span class="pricing-span">£12.99</span> per month</a>
          </li>
          <li class="pricing-item">
            <svg class="pricing-svg">
              <use href="./images/symbol-defs.svg#icon-pricing-three"></use>
            </svg>
            <h3 class="pricing-item-title">Personal Tuition</h3>
            <p class="pricing-item-text">Online one-to-one English tutoring – enjoy
              our first session for only $1</p>
            <a href="" class="prising-item-link"><span class="pricing-span"> £12.99</span> per month</a>
          </li>
        </ul>
      </div>

      </section>