<section class="slils">
  <div class="container">
    <h2 class="skills-main-title">Skills</h2>
    <div class="skills-wraper">
      <div class="skills-cards">
        <svg class="skills-svg" width="390" height="390">
          <use href="./images/symbol-defs.svg#icon-skills-one"></use>
        </svg>

        <h3 class="skills-title">Speaking</h3>
        <p class="skills-text">
          Improve your English skills and confidence. Live classes and interactive lessons online.
          20% extra free for a limited time only<br />
          <br />
          Learn English online and improve your skills through our high-quality courses and
          resources – all designed for adult language learners.
        </p>
        <button type="button" class="skills-button">Learn more</button>
      </div>

      <div class="right-content">
        <div class="right-top-content">
          <div class="skills-cards skills-cards-writing">
            <svg class="skills-svg" width="390" height="264">
              <use href="./images/symbol-defs.svg#icon-skills-two"></use>
            </svg>

            <h3 class="skills-title">Writing</h3>
            <p class="skills-text">
              One of the most important and extensive areas of natural science, the science that
              studies substances, also their composition
            </p>
            <button type="button" class="skills-button">Learn more</button>
          </div>

          <div class="skills-cards skills-cards-reading">
            <svg class="skills-svg" width="390" height="264">
              <use href="./images/symbol-defs.svg#icon-skills-three"></use>
            </svg>

            <h3 class="skills-title">Reading</h3>
            <p class="skills-text">
              Perception and response actions of the user resulting from the use and/or upcoming use
              of the product, system or service
            </p>
            <button type="button" class="skills-button">Learn more</button>
          </div>
        </div>
        <div class="skills-cards skills-cards-listening">
          <div class="listening-content">
            <h3 class="skills-title">Listening</h3>
            <p class="skills-text">
              Here you can find activities to practise your listening skills. Listening will help
              you to improve your understanding
            </p>
            <button type="button" class="skills-button skil-button">Learn more</button>
          </div>
          <svg class="skills-svg" width="408" height="274">
            <use href="./images/symbol-defs.svg#icon-skills-four"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- skills-end -->
